## Processing Scraped NBA Data

In [42]:
import pandas as pd
import numpy as np

In [87]:
#Import data and remove irrelevant columns
file = 'C:\\Users\\Chung-Tseng Wang\\Desktop\\Github Repo\\Predicting-NBA-Rookie-Stats\\data\\raw\\nba_stats_raw.csv'
raw = pd.read_csv(file)
raw = raw.drop(['Debut','MP','FG','FGA','3P','FT','FTA','ORB','TRB','AST','PF'],axis = 1)
raw.head()

,year,Player,id,Age,Yrs,G,3PA,STL,BLK,TOV,PTS,FG%,3P%,FT%,MP.1,PS/G,TRB/G,AST/G
0,2019,Jaylen Adams,adamsja01,22,1,34,74,14,5,28,108,0.345,0.338,0.778,12.6,3.2,1.8,1.9
1,2019,Deng Adel,adelde01,21,1,19,23,1,4,6,32,0.306,0.261,1.000,10.2,1.7,1.0,0.3
2,2019,DeVaughn Akoon-Purcell,akoonde01,25,1,7,4,2,0,2,7,0.300,0.000,0.500,3.1,1.0,0.6,0.9
3,2019,Rawle Alkins,alkinra01,21,1,10,12,1,0,8,37,0.333,0.250,0.667,12.0,3.7,2.6,1.3
4,2019,Grayson Allen,allengr01,23,1,38,99,6,6,33,211,0.376,0.323,0.750,10.9,5.6,0.6,0.7

In [88]:
#Calculate steals, blocks, and turnover per game
raw['STL/G'] = raw['STL'] / raw['G']
raw['BLK/G'] = raw['BLK'] / raw['G']
raw['TOV/G'] = raw['TOV'] / raw['G']
raw = raw.drop(['Yrs','3PA','STL','BLK','TOV','PTS','MP.1','id'], axis = 1)
raw.head()

,year,Player,Age,G,FG%,3P%,FT%,PS/G,TRB/G,AST/G,STL/G,BLK/G,TOV/G
0,2019,Jaylen Adams,22,34,0.345,0.338,0.778,3.2,1.8,1.9,0.411765,0.147059,0.823529
1,2019,Deng Adel,21,19,0.306,0.261,1.000,1.7,1.0,0.3,0.052632,0.210526,0.315789
2,2019,DeVaughn Akoon-Purcell,25,7,0.300,0.000,0.500,1.0,0.6,0.9,0.285714,0.000000,0.285714
3,2019,Rawle Alkins,21,10,0.333,0.250,0.667,3.7,2.6,1.3,0.100000,0.000000,0.800000
4,2019,Grayson Allen,23,38,0.376,0.323,0.750,5.6,0.6,0.7,0.157895,0.157895,0.868421

In [89]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 13 columns):
year      892 non-null int64
Player    892 non-null object
Age       892 non-null int64
G         892 non-null int64
FG%       885 non-null float64
3P%       809 non-null float64
FT%       830 non-null float64
PS/G      892 non-null float64
TRB/G     892 non-null float64
AST/G     892 non-null float64
STL/G     892 non-null float64
BLK/G     892 non-null float64
TOV/G     892 non-null float64
dtypes: float64(9), int64(3), object(1)
memory usage: 90.7+ KB

In [90]:
raw.describe()

,year,Age,G,FG%,3P%,FT%,PS/G,TRB/G,AST/G,STL/G,BLK/G,TOV/G
count,892.000000,892.000000,892.000000,885.000000,809.000000,830.000000,892.000000,892.000000,892.000000,892.000000,892.000000,892.000000
mean,2014.576233,22.394619,176.522422,0.424284,0.283958,0.710528,6.112108,2.755942,1.331951,0.502463,0.314686,0.877862
std,3.160115,2.214911,195.737205,0.107532,0.137368,0.150213,4.572743,1.998254,1.324058,0.352847,0.356438,0.643992
min,2009.000000,19.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2012.000000,21.000000,24.750000,0.387000,0.238000,0.644750,2.900000,1.400000,0.500000,0.250000,0.079928,0.440508
50%,2015.000000,22.000000,94.000000,0.429000,0.319000,0.738000,5.100000,2.300000,0.900000,0.435573,0.209730,0.754005
75%,2018.000000,24.000000,270.000000,0.473000,0.359000,0.800000,8.000000,3.600000,1.800000,0.694420,0.431773,1.154541
max,2019.000000,35.000000,821.000000,1.000000,1.000000,1.000000,24.300000,13.700000,9.200000,1.925703,2.439394,4.051157

In [91]:
raw.isna().sum()

year       0
Player     0
Age        0
G          0
FG%        7
3P%       83
FT%       62
PS/G       0
TRB/G      0
AST/G      0
STL/G      0
BLK/G      0
TOV/G      0
dtype: int64

In [92]:
raw['FG%'].fillna((raw['FG%'].mean()),inplace = True)
raw['3P%'].fillna((raw['FG%'].mean()),inplace = True)
raw['FT%'].fillna((raw['FG%'].mean()),inplace = True)
raw.head()

,year,Player,Age,G,FG%,3P%,FT%,PS/G,TRB/G,AST/G,STL/G,BLK/G,TOV/G
0,2019,Jaylen Adams,22,34,0.345,0.338,0.778,3.2,1.8,1.9,0.411765,0.147059,0.823529
1,2019,Deng Adel,21,19,0.306,0.261,1.000,1.7,1.0,0.3,0.052632,0.210526,0.315789
2,2019,DeVaughn Akoon-Purcell,25,7,0.300,0.000,0.500,1.0,0.6,0.9,0.285714,0.000000,0.285714
3,2019,Rawle Alkins,21,10,0.333,0.250,0.667,3.7,2.6,1.3,0.100000,0.000000,0.800000
4,2019,Grayson Allen,23,38,0.376,0.323,0.750,5.6,0.6,0.7,0.157895,0.157895,0.868421

In [93]:
raw.isna().sum()

year      0
Player    0
Age       0
G         0
FG%       0
3P%       0
FT%       0
PS/G      0
TRB/G     0
AST/G     0
STL/G     0
BLK/G     0
TOV/G     0
dtype: int64

In [94]:
from unidecode import unidecode
raw['Player'] = raw['Player'].apply(unidecode)
raw.head()

,year,Player,Age,G,FG%,3P%,FT%,PS/G,TRB/G,AST/G,STL/G,BLK/G,TOV/G
0,2019,Jaylen Adams,22,34,0.345,0.338,0.778,3.2,1.8,1.9,0.411765,0.147059,0.823529
1,2019,Deng Adel,21,19,0.306,0.261,1.000,1.7,1.0,0.3,0.052632,0.210526,0.315789
2,2019,DeVaughn Akoon-Purcell,25,7,0.300,0.000,0.500,1.0,0.6,0.9,0.285714,0.000000,0.285714
3,2019,Rawle Alkins,21,10,0.333,0.250,0.667,3.7,2.6,1.3,0.100000,0.000000,0.800000
4,2019,Grayson Allen,23,38,0.376,0.323,0.750,5.6,0.6,0.7,0.157895,0.157895,0.868421

In [95]:
raw = raw.rename(columns = {'G':'NBA_G','FG%':'NBA_FGP','3P%':'NBA_3PP','FT%':'NBA_FTP','PS/G':'NBA_PTS','TRB/G':'NBA_TRB','AST/G':'NBA_AST','STL/G':'NBA_STL','BLK/G':'NBA_BLK','TOV/G':'NBA_TOV'})
raw.head()

,year,Player,Age,NBA_G,NBA_FGP,NBA_3PP,NBA_FTP,NBA_PTS,NBA_TRB,NBA_AST,NBA_STL,NBA_BLK,NBA_TOV
0,2019,Jaylen Adams,22,34,0.345,0.338,0.778,3.2,1.8,1.9,0.411765,0.147059,0.823529
1,2019,Deng Adel,21,19,0.306,0.261,1.000,1.7,1.0,0.3,0.052632,0.210526,0.315789
2,2019,DeVaughn Akoon-Purcell,25,7,0.300,0.000,0.500,1.0,0.6,0.9,0.285714,0.000000,0.285714
3,2019,Rawle Alkins,21,10,0.333,0.250,0.667,3.7,2.6,1.3,0.100000,0.000000,0.800000
4,2019,Grayson Allen,23,38,0.376,0.323,0.750,5.6,0.6,0.7,0.157895,0.157895,0.868421

In [109]:
raw.to_csv('processed_nba.csv',index = True)

## Processing Scraped College Data

In [97]:
raw_c = pd.read_csv('C:\\Users\\Chung-Tseng Wang\\Desktop\\Github Repo\\Predicting-NBA-Rookie-Stats\\data\\raw\\college_stats_raw.csv') 
raw_c.head()

,Player,School,G,FGP,3P%,FTP,TRB,AST,STL,BLK,TOV,PTS
0,Jaylen Adams,St. Bonaventure,110,0.427,0.394,0.838,3.4,5.4,1.5,0.2,2.9,17.4
1,Deng Adel,Louisville,89,0.438,0.348,0.776,4.1,2.0,0.5,0.3,1.7,11.2
2,DeVaughn Akoon-Purcell,Illinois State,60,0.428,0.301,0.739,5.3,1.6,1.0,0.3,2.3,13.5
3,Rawle Alkins,Arizona,60,0.450,0.365,0.729,4.9,2.2,1.0,0.6,2.1,11.8
4,Grayson Allen,Duke,142,0.430,0.380,0.834,3.2,3.0,1.0,0.1,1.7,14.1

In [98]:
raw_c.describe()

,G,FGP,3P%,FTP,TRB,AST,STL,BLK,TOV,PTS
count,732.000000,731.000000,680.000000,730.000000,732.000000,732.000000,732.000000,732.000000,721.000000,732.000000
mean,89.112022,0.475057,0.333596,0.711530,5.091120,2.086612,0.980328,0.728279,1.883079,12.044262
std,39.086855,0.068107,0.127358,0.104518,2.201862,1.483898,0.504232,0.726332,0.733895,4.383323
min,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,61.000000,0.433500,0.308000,0.663250,3.500000,1.000000,0.600000,0.200000,1.400000,9.400000
50%,95.000000,0.463000,0.350000,0.729000,4.800000,1.700000,0.900000,0.500000,1.800000,12.200000
75%,128.000000,0.517000,0.381250,0.780000,6.400000,2.900000,1.300000,1.000000,2.300000,14.825000
max,152.000000,0.692000,1.000000,1.000000,12.400000,8.700000,2.900000,5.400000,5.400000,27.500000

In [99]:
raw_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 732 entries, 0 to 731
Data columns (total 12 columns):
Player    732 non-null object
School    732 non-null object
G         732 non-null int64
FGP       731 non-null float64
3P%       680 non-null float64
FTP       730 non-null float64
TRB       732 non-null float64
AST       732 non-null float64
STL       732 non-null float64
BLK       732 non-null float64
TOV       721 non-null float64
PTS       732 non-null float64
dtypes: float64(9), int64(1), object(2)
memory usage: 68.7+ KB

In [100]:
raw_c.isna().sum()

Player     0
School     0
G          0
FGP        1
3P%       52
FTP        2
TRB        0
AST        0
STL        0
BLK        0
TOV       11
PTS        0
dtype: int64

In [101]:
raw_c['FGP'].fillna((raw_c['FGP'].mean()),inplace = True)
raw_c['3P%'].fillna((raw_c['3P%'].mean()),inplace = True)
raw_c['FTP'].fillna((raw_c['FTP'].mean()),inplace = True)
raw_c['TOV'].fillna((raw_c['TOV'].mean()),inplace = True)

In [102]:
raw_c.isna().sum()

Player    0
School    0
G         0
FGP       0
3P%       0
FTP       0
TRB       0
AST       0
STL       0
BLK       0
TOV       0
PTS       0
dtype: int64

In [103]:
raw_c['Player'] = raw_c['Player'].apply(unidecode)
raw_c.head()

,Player,School,G,FGP,3P%,FTP,TRB,AST,STL,BLK,TOV,PTS
0,Jaylen Adams,St. Bonaventure,110,0.427,0.394,0.838,3.4,5.4,1.5,0.2,2.9,17.4
1,Deng Adel,Louisville,89,0.438,0.348,0.776,4.1,2.0,0.5,0.3,1.7,11.2
2,DeVaughn Akoon-Purcell,Illinois State,60,0.428,0.301,0.739,5.3,1.6,1.0,0.3,2.3,13.5
3,Rawle Alkins,Arizona,60,0.450,0.365,0.729,4.9,2.2,1.0,0.6,2.1,11.8
4,Grayson Allen,Duke,142,0.430,0.380,0.834,3.2,3.0,1.0,0.1,1.7,14.1

In [104]:
raw_c = raw_c.rename(columns = {'G':'c_G','FGP':'c_FGP','3P%':'c_3PP','FTP':'c_FTP','PTS':'c_PTS','TRB':'c_TRB','AST':'c_AST','STL':'c_STL','BLK':'c_BLK','TOV':'c_TOV'})
raw_c.head()

,Player,School,c_G,c_FGP,c_3PP,c_FTP,c_TRB,c_AST,c_STL,c_BLK,c_TOV,c_PTS
0,Jaylen Adams,St. Bonaventure,110,0.427,0.394,0.838,3.4,5.4,1.5,0.2,2.9,17.4
1,Deng Adel,Louisville,89,0.438,0.348,0.776,4.1,2.0,0.5,0.3,1.7,11.2
2,DeVaughn Akoon-Purcell,Illinois State,60,0.428,0.301,0.739,5.3,1.6,1.0,0.3,2.3,13.5
3,Rawle Alkins,Arizona,60,0.450,0.365,0.729,4.9,2.2,1.0,0.6,2.1,11.8
4,Grayson Allen,Duke,142,0.430,0.380,0.834,3.2,3.0,1.0,0.1,1.7,14.1

In [84]:
raw_c.to_csv('processed_college.csv',index = True)

In [106]:
final = raw.merge(raw_c, how = 'left', left_on = raw['Player'], right_on = raw_c['Player'])
final.head()

,year,Player_x,Age,NBA_G,NBA_FGP,NBA_3PP,NBA_FTP,NBA_PTS,NBA_TRB,NBA_AST,...,c_G,c_FGP,c_3PP,c_FTP,c_TRB,c_AST,c_STL,c_BLK,c_TOV,c_PTS
0,2019,Jaylen Adams,22,34,0.345,0.338,0.778,3.2,1.8,1.9,...,110.0,0.427,0.394,0.838,3.4,5.4,1.5,0.2,2.9,17.4
1,2019,Deng Adel,21,19,0.306,0.261,1.000,1.7,1.0,0.3,...,89.0,0.438,0.348,0.776,4.1,2.0,0.5,0.3,1.7,11.2
2,2019,DeVaughn Akoon-Purcell,25,7,0.300,0.000,0.500,1.0,0.6,0.9,...,60.0,0.428,0.301,0.739,5.3,1.6,1.0,0.3,2.3,13.5
3,2019,Rawle Alkins,21,10,0.333,0.250,0.667,3.7,2.6,1.3,...,60.0,0.450,0.365,0.729,4.9,2.2,1.0,0.6,2.1,11.8
4,2019,Grayson Allen,23,38,0.376,0.323,0.750,5.6,0.6,0.7,...,142.0,0.430,0.380,0.834,3.2,3.0,1.0,0.1,1.7,14.1

In [107]:
final.isna().sum()

year          0
Player_x      0
Age           0
NBA_G         0
NBA_FGP       0
NBA_3PP       0
NBA_FTP       0
NBA_PTS       0
NBA_TRB       0
NBA_AST       0
NBA_STL       0
NBA_BLK       0
NBA_TOV       0
Player_y    160
School      160
c_G         160
c_FGP       160
c_3PP       160
c_FTP       160
c_TRB       160
c_AST       160
c_STL       160
c_BLK       160
c_TOV       160
c_PTS       160
dtype: int64

In [108]:
final.to_csv('final_training_set.csv',index = True)